.title {
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-family: Reenie Beanie;
	margin: auto;
	/*border: px solid green;*/
	text-align: center;
	/*background-color: black;*/
}

.ssbg{
	/*background-color: #E8CEBF;*/
	background: linear-gradient(70deg, #fff810  30%, rgba(0,0,0,0) 30%), linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
}

.sschromebg{
	background-image: url('../img/chromebg.jpg');
	background-size: cover;
	background-repeat: repeat;
	/*background-position: center;*/
	/*height: 500px;*/
	background-color: #cccccc;
}